.loginContent{
    height: 40vh;
    width: 30vw;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    img{
        display: none;
    }
    .form{
        width: 50%;
        
        .inputs{
            display: flex;
            flex-direction: column;
            position: relative;
            margin-bottom: 30px;

            label{

                pointer-events: none;
                position: absolute;
                top: 0;
                left: 0;
                margin-top: 5px;
                transition: all .3s ease-out;
                -webkit-transition: all .3s ease-out;
                -moz-transition: all .3s ease-out;

            }

            input{
                outline: none;
                border: 0;
                color: #fff;
                background-color: transparent;
                border-bottom: solid 1px #fff;
                height: 30px;
                transition: all .3s ease-out;

                &:focus{
                    border-bottom: solid 1px #00af91;
                }

                &:focus + label{
                    margin-top: -20px;
                }

                &:valid + label{
                    margin-top: -20px;
                }

                &:invalid{
                    box-shadow: none;
                }

            }
        }

        .buttons{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 20px;
            width: 100%;

            button{
                cursor: pointer;
            }

            .login-btn{
                width: 100%;
                height: 50px;
                background-color: #000;
                border: 0;
                font-family: Pathway Gothic One, serif;
                color: #fff;
                box-shadow: 0px 8px 15px #00000080;
                transition: all 0.3s ease 0s;
                &:hover {
                    background-color: #00af91;
                    box-shadow: 0px 1px 20px #0079657c;
                    color: #fff;
                    transform: translateY(-7px);
                  }
            }

            h1{
                border-bottom: solid 1px #fff;
                line-height: 5px;
                margin-top: 39px;
                width: 100%;
                text-align: center;
                font-size: 18px;

                span{
                    background-color: #222;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }


            .register-btn{
                width: 100%;
                height: 50px;
                background-color: #000;
                margin-top: 39px;
                border: 0;
                font-family: Pathway Gothic One, serif;
                color: #fff;
                box-shadow: 0px 8px 15px #00000080;
                transition: all 0.3s ease 0s;
                &:hover {
                    background-color: #0f3057;
                    box-shadow: 0px 1px 20px #62959c77;
                    color: #fff;
                    transform: translateY(-7px);
                  }
            }

            
        }
    }
    
}


@media (max-width: 1080px){
    .loginContent{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        
        img{
            display: flex;
            margin-bottom: 40px;
        }
    }
}